.non-transition
  transition: none !important
  *
    transition: none !important

.rotated
  transform: rotate(180deg) !important

.App
  //transform: scale(2) translate(41vw, 6vh)

.post-office
  position: absolute

  height: 100vh
  left: 200px
  right: 0

  background: url(texures/floor-light.jpg)
  background-size: 140px