$footLength: 20px
$footWidth: 16.5px
$bodyHeight: 17.2px
$bodyWidth: 48px
$boatWidth: $footWidth - 3px
$boatHeight: 22px

.Human
  position: absolute
  transition: all 300ms ease-in-out

  top: 50vh
  left: 50vh

  width: $bodyWidth

.body
  position: absolute
  transition: all 300ms ease-in-out

  width: $bodyWidth
  height: $bodyHeight

  border-radius: 5pt
  background: #b5b5b5

.head
  position: absolute
  transition: all 200ms ease-in-out

  top: -3.6px
  left: 0
  right: 0

  width: 23px
  height: 23px

  margin: auto
  border-radius: 50% 50%
  background: #3d2413

.foots
  position: relative
  //left: (100% - 38%*2)/4
  .foot
    position: absolute
    transition: all 290ms ease-in-out

    top: 0

    width: $footWidth
    //height: $footLength
    height: 0

    border-radius: 20pt
    background: #0065c9

  .left.foot
    left: 4px
    //top: -$footLength + $bodyHeight / 2
    top: $bodyHeight / 2

  .right.foot
    right: 4px
    top: $bodyHeight / 2

.boats
  .boat
    position: absolute
    transition: all 300ms ease-in-out

    top: -5px

    width: $boatWidth
    height: $boatHeight

    border-radius: 50% 50% 40% 40%
    background: #454545

  .left.boat
    left: 5.5px
    //top: $bodyHeight / 2 - $boatHeight / 2 - $footLength + 5pt
  .right.boat
    right: 5.5px
    //top: $bodyHeight / 2 - $boatHeight / 2 + $footLength - 10pt